body{
    background-color: #FFEEDF;
}

button{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1C5A4E;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        border: none;
}
        

p{
    position: absolute;
    top: 23.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #FFEEDF;

}  
